.container {
  background-size: cover;
  background-image: url(../images/pattern.svg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header {
font-size: 45;
color: #fff;
font-weight: 100;
}
